$main-black: #0f1010;
$main-grey: #191b1b;
$font_famiry: "Montserrat", sans-serif;
$nav_width: 300px;
$intranet_blue: #2b7cff;
$intranet_green: #65b53d;
$intranet_red: #ff603d;
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: $main-black;
    font-family: $font_famiry;
    overflow-x: hidden;
    color: $main-black;
}
.app-wrapper {
    .app {
        display: grid;
        width: 100vw;
        min-height: 100vh;
        grid-template-columns: $nav_width auto;
        grid-template-rows: auto;
    }
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.hoverAnim {
    $time: .4s;
    transition: all $time;
    svg {
        transition: all $time;
    }
    &:hover {
        $dist: 0.1rem;
        transform: translate($dist, -$dist);
        svg {
            transform: scale(1.1);
        }
    }
}
